<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.ClassDAO">
	<select id="getClassList" resultType="ClassVO">
		select *,
		(select me_name from member where me_num = cl_tc_me_num)as me_name from class where cl_able="요청"; 
	</select>
	<update id="updateAccept">
		update `class` set cl_able = "Y" where cl_num = #{cl_num};
	</update>
	<update id="rejectAccept">
		update `class` set cl_able = "N" where cl_num = #{cl_num};
	</update>
	<select id="getClass" resultType="ClassVO">
		select * from class where  cl_tc_me_num = #{cl_tc_me_num};
	</select>
	<select id="selectClassListCaNum" resultType="ClassVO">
	  SELECT 
	    c.cl_num, c.cl_title, c.cl_item, c.cl_intro, c.cl_money, 
	    c.cl_date, c.cl_level, c.cl_able, c.cl_tc_me_num, 
	    m.me_name, s.sc_name
	  FROM class c
	  JOIN subcategory s ON s.sc_cl_num = c.cl_num
	  JOIN member m ON c.cl_tc_me_num = m.me_num
	  WHERE s.sc_ca_num = #{ca_num} and CL_ABLE="Y"
	</select>
</mapper>