<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.CurriculumDAO">
	<select id="getCurriculum" resultType="CurriculumVO">
	  SELECT 
	    c.cr_num, c.cr_cl_num, c.cr_title,
	    v.vd_num, v.vd_name, v.vd_vidoe
	  FROM curriculum c
	  LEFT JOIN video v ON c.cr_num = v.vd_cr_num
	  WHERE c.cr_cl_num = #{cl_num}
	  ORDER BY c.cr_num, v.vd_num
	</select>
</mapper>