<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.MemberDAO">
	<select id="getPw" resultType="String">
		select me_pw from member where me_id = #{me_id}
	</select>
	
	<select id="selectMember" parameterType="String" resultType="kr.kh.team3.model.vo.MemberVO">
        SELECT * FROM member WHERE me_id = #{me_id}
    </select>
	
	<insert id="insertMember" parameterType="kr.kh.team3.model.vo.MemberVO">
		INSERT INTO member (
			me_name, me_id, me_pw, me_nick, me_email, me_number, me_online,
			me_profile
		) VALUES (
			#{member.me_name}, #{member.me_id}, #{member.me_pw}, #{member.me_nick},
			#{member.me_email}, #{member.me_number}, #{member.me_online}, #{member.me_profile}
		)
    </insert>
    
    <update id="onlineMember" parameterType="kr.kh.team3.model.vo.MemberVO">
    	update member set ME_ONLINE = 'Y'
    	where me_id = #{member.me_id}
    </update>
    
    <update id="offlineMember" parameterType="kr.kh.team3.model.vo.MemberVO">
    	update member set ME_ONLINE = 'N'
    	where me_id = #{member.me_id}
    </update>
  
    <select id="selectLogin" resultType="kr.kh.team3.model.vo.MemberVO">
    	select * from member where me_id = #{me_id} and me_pw = #{me_pw}
    </select>
	
    <insert id="insertSignup">
    	insert into member(me_name,me_id,me_pw,me_nick,me_email,me_number)
		values("${member.me_name}","${member.me_id}","${member.me_pw}","${member.me_nick}","${member.me_email}","${member.me_number}");
    </insert>
    
</mapper>