<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.SearchDAO">
	  <select id="searchAll" resultType="map">
	    SELECT DISTINCT
	      cl.cl_title AS name,
	      cl.cl_num AS cl_num,   
	      me.me_nick AS teacherNick,t.th_picture AS cl_th_picture     
	    FROM class cl
	    LEFT JOIN subcategory sc ON sc.sc_cl_num = cl.cl_num
	    LEFT JOIN category ca ON sc.sc_ca_num = ca.ca_num
	    LEFT JOIN member me ON cl.cl_tc_me_num = me.me_num
	    LEFT JOIN thumbnail t ON cl.cl_num = t.th_cl_num
	    WHERE cl.cl_able = 'Y'
      		AND (
          sc.sc_name LIKE CONCAT('%', #{keyword}, '%')
          OR cl.cl_title LIKE CONCAT('%', #{keyword}, '%')
          OR me.me_nick LIKE CONCAT('%', #{keyword}, '%')
          OR ca.ca_name LIKE CONCAT('%', #{keyword}, '%')
      )
	  </select>

</mapper>