<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.SubCategoryDAO">
	<select id="selectSubListCaNum" resultType="SubCategoryVO">
	  SELECT 
	    MIN(sc_num) as sc_num, 
	    sc_name, 
	    sc_ca_num,
	    MIN(sc_cl_num) as sc_cl_num
	  FROM 
	    subcategory
	  WHERE 
	    sc_ca_num = #{ca_num}
	  GROUP BY 
	    sc_name, sc_ca_num
	</select>
	<select id="getScNameList" resultType="SubCategoryVO">
		SELECT DISTINCT sc_name FROM subcategory WHERE sc_ca_num = #{ca_num};
	</select>
	<insert id="insertClass">
		insert into subcategory (sc_name,sc_ca_num,sc_cl_num) values(#{sc.sc_name},#{sc.sc_ca_num},#{cl.cl_num});
	</insert>
</mapper>