<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.SubscribeDAO">
	<select id="checkSubscribed" resultType="int">
        SELECT COUNT(*) 
        FROM subscribe 
        WHERE su_me_num = #{me_num} 
        AND su_cl_num = #{cl_num}
        AND su_status = 'regular'
    </select>
    <select id="countSubscribe" resultType="int">
	    SELECT COUNT(*) 
	    FROM subscribe 
	    WHERE su_cl_num = #{cl_num}
	</select>
	<insert id="insertSubscribe">
	    INSERT INTO subscribe (su_date, su_me_num, su_cl_num)
	    VALUES (NOW(), #{me_num}, #{cl_num})
	</insert>
	<select id="getStatus" resultType="String">
	  SELECT SU_STATUS
	  FROM subscribe
	  WHERE SU_ME_NUM = #{me_num}
	    AND SU_CL_NUM = #{cl_num}
	</select>
	<delete id="deleteSubscribe">
	  DELETE FROM subscribe
	  WHERE su_status = 'regular'
	  AND su_date &lt;= NOW() - INTERVAL 2 MINUTE
	</delete>
</mapper>