<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.TeacherDAO">
	<select id="selectIntro" resultType="kr.kh.team3.model.vo.TeacherVO" parameterType="String">
	    SELECT m.me_name, t.tc_intro
	    FROM member m
	    LEFT JOIN teacher t ON m.me_num = t.tc_me_num
	    WHERE m.me_id = #{tcId}
	</select>
	
	<insert id="insertIntro" parameterType="map">
        INSERT INTO teacher (tc_me_num, tc_intro)
        VALUES (
            (SELECT me_num FROM member WHERE me_id = #{tcId}),
            #{intro})
    </insert>
    
    <update id="updateIntro" parameterType="map">
        UPDATE teacher
        SET tc_intro = #{intro}
        WHERE tc_me_num = (SELECT me_num FROM member WHERE me_id = #{tcId})
    </update>
</mapper>