<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.UserDAO">
  	
  	<select id="selectSubscribeList" resultType="map">
		  SELECT 
		    s.su_cl_num,   
		    c.cl_title, 
		    (SELECT m2.me_name
		       FROM member m2
		      WHERE m2.me_num = c.cl_tc_me_num) AS teacher_name,
		    s.su_date,
		    s.su_status,
		    m.me_name
		  FROM subscribe s
		  JOIN class   c ON c.cl_num = s.su_cl_num
		  JOIN member  m ON m.me_num = s.su_me_num
		  WHERE s.su_me_num = #{me_num}
	</select>
</mapper>