<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.dao.UserDAO">
  	
  	<select id="selectSubscribeList" resultType="map">
	   	select CL_TITLE, (select me_name from member where me_num = cl_tc_me_num)as teacher_name, SU_DATE, ME_NAME from SUBSCRIBE
		join class on CL_NUM = SU_CL_NUM
		join `MEMBER` on ME_NUM = SU_ME_NUM
		where SU_ME_NUM = #{me_num};
   </select>
</mapper>